<div class="text-start mt-3 mb-3">
  <%= link_to "Voltar", import_files_path, class: "btn-success" %>
</div>

<div id="import-list">
    <table class="table table-striped">
      <thead>
        <tr>
            <th>Comprador</th>
            <th>Item Descrição</th>
            <th>Preço</th>
            <th>Fornecedor</th>
            <th>Endereço Fornecedor</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @import_file.orders.each do |order| %>
          <tr>
            <td><%= order.purchaser.name %></td>
            <td><%= order.item_description %></td>
            <td><%= format_import_item_price(order.item_price) %></td>
            <td><%= order.merchant.name %></td>
            <td><%= order.merchant.address %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
