<div class="text-end mt-3 mb-3">
    <%= link_to 'Nova Importação', new_import_file_path, class: "btn btn-primary" %>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Total de vendas</h5>
    <p class="card-text">
      <%= number_to_currency @total_sales %>
    </p>
  </div>

<div id="import-list">
    <table class="table table-striped">
      <thead>
        <tr>
            <th>Comprador</th>
            <th>Item Descrição</th>
            <th>Preço</th>
            <th>Fornecedor</th>
            <th>Endereço Fornecedor</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @import_file.orders.each do |order| %>
          <tr>
            <td><%= order.purchaser&.name %></td>
            <td><%= order.item_description %></td>
            <td><%= number_to_currency(order.item_price) %></td>
            <td><%= order.merchant&.name %></td>
            <td><%= order.merchant&.address %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
